.appPage {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(355deg, #264EFF 0%, #0F1780 100%); }
  .appPage .bubblesSVG {
    position: absolute;
    width: 100%; }
  .appPage .header {
    position: relative;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-family: 'Raleway', sans-serif; }
  .appPage .infoSection {
    position: relative;
    width: 100%;
    height: 75%; }
    .appPage .infoSection .antInput {
      margin-top: 50px;
      width: 200px; }
    .appPage .infoSection .ant-card {
      margin-top: 50px; }
    .appPage .infoSection .mpCard .ant-card-body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column; }
  .appPage .footer {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0px;
    left: 0px;
    background-color: #212121;
    text-align: center;
    color: white;
    font-size: 12px; }
