body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Raleway', sans-serif;
}


.flexColumnStart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

// Overwriting ant design default style
